<div class="top">
  
  <div class="clr-select-wrapper label-and-form-field">
    <label for="country" class="clr-control-label">Select the platform:</label>
    <select id="country" name="country" class="clr-select">
      <option value="1">Linux</option>
      <option value="2">Windows</option>
      <option value="3">Ms SQL</option>
    </select>
  </div>

   <div class="clr-select-wrapper label-and-form-field">
    <label for="country" class="clr-control-label">Select the Type of account</label>
    <select id="country" name="country" class="clr-select">
      <option value="1">PA</option>
      <option value="2">NPA</option>
    </select>
  </div>
  <br>
  <br>

  <div class="clr-select-wrapper label-and-form-field">
    <button ng-click="addBusinessRoles()">ADD  A BUSINESS ROLE</button>
    <button ng-click="addTehnicalRoles()">ADD  A TECHNICAL ROLE</button>
  
  </div>

</div>
<div class="grid">
  <div class="relative-parent">
    <div class="absolute-parent">

      <!-- [clDgRowSelection]="true" -->
      <clr-datagrid class="inline-editable">
        <clr-dg-column>Business Roles / Technical Roles</clr-dg-column>
        <clr-dg-column>Technical Role 1</clr-dg-column>
        <clr-dg-column>Technical Role 2</clr-dg-column>
        <clr-dg-column>Technical Role 3</clr-dg-column>
        <clr-dg-column>Technical Role 4</clr-dg-column>
        <clr-dg-column>Technical Role 5</clr-dg-column>

        <clr-dg-row *clrDgItems="let item of items" [clrDgItem]="item">

          <ng-container>
            <div class="inline-edit-btns">
              <a href="javascript:void(0)" class="inline-btn"
                (click)=" editRow === item ? editRow = null : editRow = item ">
                <ng-template [ngIf]=" editRow !== item ">
                  <clr-icon shape="pencil"></clr-icon>
                </ng-template>
                <ng-template [ngIf]=" editRow === item ">
                  <clr-icon shape="times"></clr-icon>
                </ng-template>
              </a>              
            </div>
          </ng-container>

          <clr-dg-cell [ngClass]=" editRow === item ? 'edit-cell' : '' "><ng-template [ngIf]=" editRow !== item ">
              <p *ngFor="let seitem of item.se">
                  {{ seitem.name }}
                </p>
            </ng-template>
            <ng-template [ngIf]=" editRow === item ">
              <ng-select 
                [items]=" solutionElements "
                [multiple]="false"
                bindLabel="name"
                [(ngModel)]=" item.skuName "></ng-select>
            </ng-template></clr-dg-cell>
          <clr-dg-cell [ngClass]=" editRow === item ? 'edit-cell' : '' ">
            <ng-template [ngIf]=" editRow !== item ">
               {{ item.skuType }}
            </ng-template>
            <ng-template [ngIf]=" editRow === item ">
              <label><input type="checkbox" [(ngModel)]=" items.skuType "></label><br/>
            </ng-template>
          </clr-dg-cell>
          <clr-dg-cell [ngClass]=" editRow === item ? 'edit-cell' : '' ">
            <ng-template [ngIf]=" editRow !== item ">
               {{ item.portfolioTag }}
            </ng-template>
            <ng-template [ngIf]=" editRow === item ">
              <label><input type="checkbox" [(ngModel)]=" items.portfolioTag "></label><br/>
            </ng-template>
            </clr-dg-cell>
          <clr-dg-cell [ngClass]=" editRow === item ? 'edit-cell' : '' ">
             <ng-template [ngIf]=" editRow !== item ">
               {{ item.product }}
            </ng-template>
            <ng-template [ngIf]=" editRow === item ">
              <label><input type="checkbox" [(ngModel)]=" items.product "></label><br/>
            </ng-template>
          </clr-dg-cell>

          <clr-dg-cell [ngClass]=" editRow === item ? 'edit-cell' : '' ">
            <ng-template [ngIf]=" editRow !== item ">
              {{ item.product }}
            </ng-template>
            <ng-template [ngIf]=" editRow === item ">
              <label><input type="checkbox" [(ngModel)]=" items.product "></label><br/>
            </ng-template>
          </clr-dg-cell>

          <clr-dg-cell [ngClass]=" editRow === item ? 'edit-cell' : '' ">
            <ng-template [ngIf]=" editRow !== item ">
            {{ item.product }}
            </ng-template>
            <ng-template [ngIf]=" editRow === item ">
              <ng-template [ngIf]=" item.ms ">
  
                  <label><input type="checkbox" [(ngModel)]=" items.product "></label><br/>
              </ng-template>
            </ng-template>
          </clr-dg-cell>

        </clr-dg-row>
      </clr-datagrid>
    </div>
  </div>
</div>